<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
<div class="container container-fluid">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">Trello Clone</a>
  </div>

  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
    <% if signed_in? %>
      <li id='add-dropdown' class='dropdown'>
        <button 
          class='dropdown-toggle navbar-btn btn btn-primary'
          data-toggle='dropdown'><span class='glyphicon glyphicon-plus'></span>
        </button>
      </li>
      <li>
        <form action="<%= session_url %>" method="post" class="btn btn-primary navbar-btn">
          <input
            type="hidden"
            name="authenticity_token"
            value="<%= form_authenticity_token %>">
          <input type="hidden" name="_method" value="delete">
          <input type="submit" value="Sign out">
        </form>
      </li>
    <% else %>
      <li><a href="<%= new_session_url %>">Log in</a></li>
      <li><a href="<%= new_user_url %>">Sign up</a></li>
    <% end %>
    </ul>
  </div>
</div>
</nav>

<% if flash[:errors] %>
<div class="alert alert-warning alert-dismissible" role="alert">
   <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
<%= flash[:errors].join("<br>").html_safe %>
</div>
<% end %>
